* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(47, 47, 66);
}

.container8 {
  justify-content: center;
  margin-top: 100px;
  border-radius: 3px;
  display: grid;
  gap: 12px;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 120px 120px 120px;
  grid-template-areas:
    "box1 box2 box3 box4 box5"
    "box6 box7 box8 box8 box8"
    "box9 box9 box9 box9 box9";
}
.orange {
  grid-area: box1;
  background-color: orange;
}
.red {
  grid-area: box2;
  background-color: red;
}
.blue {
  grid-area: box3;
  background-color: blue;
}
.green {
  grid-area: box4;
  background-color: green;
}
.yellow {
  grid-area: box5;
  background-color: yellow;
}
.purple {
  grid-area: box6;
  background-color: purple;
}
.pink {
  grid-area: box7;
  background-color: pink;
}
.brown {
  grid-area: box8;
  background-color: brown;
}
.gray {
  grid-area: box9;
  background-color: gray;
}
