* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container3 {
  justify-content: center;
  margin-top: 50px;
  border-radius: 3px;
  display: grid;
  gap: 12px;
  grid-template-columns: 300px 700px;
  grid-template-rows: 100px 200px 100px;
  grid-template-areas:
    "pop1 pop1"
    "pop2 pop3"
    "pop4 pop4";
}

.orange {
  background-color: orange;
  grid-area: pop1;
}

.blue {
  background-color: blue;
  grid-area: pop2;
}

.green {
  background-color: green;
  grid-area: pop3;
}

.red {
  background-color: red;
  grid-area: pop4;
}
