* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container2 {
  justify-content: center;
  margin-top: 100px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 300px 300px 350px;
  grid-template-rows: 220px 220px;
  gap: 12px;
  grid-template-areas:
    "dan1 dan1 pol3"
    "dax4 dom5 pol3";
}

.boxbig {
  background-color: purple;
  grid-area: dan1;
}

.boxsmall {
  background-color: brown;
  grid-area: pol3;
}

.boxsmalle {
  background-color: grey;
  grid-area: dax4;
}

.boxsmalld {
  background-color: cyan;
  grid-area: dom5;
}
